In [167]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [168]:
pd.set_option('display.max_columns', None)

In [169]:
df=pd.read_csv('soccer.csv')
df.head(10)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29,0,2634,42,24.68,0.89,162,60,5.84,2.16,2016
6,Spain,La Liga,(RMA),Karim Benzema,23,6,1967,11,13.25,0.64,69,34,3.33,1.64,2016
7,Spain,La Liga,(PSG),Neymar,30,0,2694,13,13.33,0.47,105,42,3.70,1.48,2016
8,Spain,La Liga,(CEL),Iago Aspas,25,7,2354,19,13.88,0.56,78,37,3.15,1.49,2016
9,Spain,La Liga,(EIB),Sergi Enrich,31,7,2904,11,8.25,0.27,64,26,2.09,0.85,2016

# Q1: What is the total number of goals scored in the entire dataset?

In [170]:
# Total number of goals scored
df['Goals'].sum()

7795

# Q2: Which player has scored the most goals as a substitution

In [171]:
# we have filtered the  players with no substitution
# so angel Di Maria is the Player who has scored the maximum goals in 26 substitution
df[df['Substitution ']>0].max()

Country                                USA
League                             Serie A
Club                                   Tim
Player Names               Ãngel Di Maria
Matches_Played                          37
Substitution                            26
Mins                                  3931
Goals                                   37
xG                                   32.54
xG Per Avg Match                      1.27
Shots                                  197
OnTarget                               102
Shots Per Avg Match                    7.2
On Target Per Avg Match               3.63
Year                                  2020
dtype: object

# Q3: Find the top 5 players with the most number of goals scored. Also find the total number of goals scored by them

In [172]:
df[df['Goals']>=36]

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
5,Spain,La Liga,(JUV),Cristiano Ronaldo,29,0,2634,42,24.68,0.89,162,60,5.84,2.16,2016
12,Spain,La Liga,(BAR),Lionel Messi,32,2,2910,37,26.65,0.87,179,76,5.84,2.48,2016
195,Spain,La Liga,(BAR),Lionel Messi,29,5,2849,36,25.49,0.85,170,87,5.67,2.90,2018
317,USA,MLS,(LAF),Carlos Vela,33,0,3128,36,25.35,0.77,167,75,5.07,2.28,2019
391,Italy,Serie A,(LAZ),Ciro Immobile,36,1,3371,36,26.61,0.75,142,71,4.00,2.00,2019

In [173]:
# so the players with most numbers of goals are Cristiano Ronaldo , Lionel Messi , Lionel Messi	, Carlos Vela , Ciro Immobile	
top5players  = df['Goals'].nlargest(5)

In [174]:
# sum of the goals of top 5 players
df['Goals'].nlargest(5).sum()

187

# Q4: What are the top 10 countries with the most number of players in the dataset?

In [175]:
df.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

In [176]:
Ls = df.drop(["Mins","League" , "Club", "Matches_Played","Goals", "xG" ,"xG Per Avg Match","Shots","OnTarget","Shots Per Avg Match","On Target Per Avg Match","Year"], axis = 1)

In [177]:
df['Country'].unique()

array(['Spain', 'Italy', 'Germany', 'England', 'Brazil', 'France', 'USA',
       'Portugal ', ' Netherlands'], dtype=object)

In [178]:
lst = ['Spain', 'Italy', 'Germany', 'England', 'Brazil', 'France', 'USA',
       'Portugal ', ' Netherlands']

In [182]:
print('Spain')
print(Ls[Ls['Country']=='Spain'].nunique())
print('Italy')
print(Ls[Ls['Country']=='Italy'].nunique())
print('Germany')
print(Ls[Ls['Country']=='Germany'].nunique())
print('England')
print(Ls[Ls['Country']=='England'].nunique())
print('Brazil')
print(Ls[Ls['Country']=='Brazil'].nunique())
print('France')
print(Ls[Ls['Country']=='France'].nunique())
print('USA')
print(Ls[Ls['Country']=='USA'].nunique())
#print(Ls[Ls['Country']=='Portugal'].nunique())
#print(Ls[Ls['Country']=='Netherlands'].nunique())

# so (spain : 62 , Italy : 55 , Germany : 62 , England : 55 , brazil : 76 , France : 47 , USA : 43 ) brazil ha more players

Spain
Country           1
Player Names     62
Substitution     19
dtype: int64
Italy
Country           1
Player Names     55
Substitution     14
dtype: int64
Germany
Country           1
Player Names     62
Substitution     15
dtype: int64
England
Country           1
Player Names     55
Substitution     13
dtype: int64
Brazil
Country           1
Player Names     76
Substitution     16
dtype: int64
France
Country           1
Player Names     47
Substitution     12
dtype: int64
USA
Country           1
Player Names     34
Substitution      9
dtype: int64

In [180]:
Ls[Ls['Country']=='Italy'].nunique()

Country           1
Player Names     55
Substitution     14
dtype: int64

# Q5: # Q1. Create a new dataframe after removing the ourliers for Mins Column in the dataset (conside the upper quantile to be 99 percentile and the lower quantile to be 1 percentile.). After that Find the difference in the number of rows?
Difference is df.shape(only rows) - df.shape(rows of filtered data only)

# Q6: Which top 5 players have scored the maximum number of goals throughout all the years? Display them in descending order

# Q7. Using Bar Plot show in which year has Cristiano Ronaldo scored the most number of goals?

# Q8. In the year 2019 who has more Goals between Ronaldo and Messi?
### 1.First print them normally
### 2.Display the comparison using a bar plot

# Q9: Using Pie Chart show the amount of data various Countries are containing in this dataset(use the Country Columns Display the percentage of data as well in the pie chart

# Q10: Display a Heatmap to show the correlation between the columns in the dataset. The heatmap should have the value of the correlation printed within the boxes.

# Q11: Which Country has the maximum median OnTarget Shots among all the Countries in the year 2020?

# Q12. Who has the best average Goals per minute?
### Consider only those players who have played more than 30 games
### Then Find Goals per minute
### Find Mean of Goals per minute and sort the values

# Q 13. Which Player has the least and most number of missed shots in the dataset?
### Missed Shots=Shots-On Target

# Q14: How many countries have had players who played more than 35 matches? Create a bar plot to display the count for each country.

# Q15: Draw a Line Chart to show the comparison of the top 5 highest scoring players in the dataset throughout the years(2016-2020)